@charset "utf-8";

body {
    background-color: #e8d9bf;
}

h2 {
    text-align: center;
}

a:hover {
    opacity: 0.5;
    transition: 0.3s;
}

/* header */
.header_slider img {
    width: 100%;
}

header {
    position: relative;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7% 0 3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.header_logo {
    width: 227px;
}

.PC_nav ul {
    display: flex;
    gap: 54px;
}

.PC_nav li {
    width: 105px;
    text-align: center;
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

/* header下のキャッチコピー */
.top_text {
    text-align: center;
    margin: 0 auto;
    padding: 104px 0 93px 0;
}

.en_text {
    font-size: 30px;
    margin-bottom: 46px;
}

.main_text {
    font-size: 82px;
    line-height: 1.17;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

.sub_text {
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1em;
}

/* about */
#about {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 95px;
    padding-right: 10px;
}

.about_img {
    width: 50%;
    border-bottom-right-radius: 82px;
    overflow: hidden;
}

.about_text {
    width: 41%;
}

.about_heading {
    text-align: left;
}

.about_heading img {
    width: 273px;
    margin-bottom: 49px;
}

.text_main {
    font-size: 44px;
    line-height: 1.38;
    margin-bottom: 23px;
}

.text_sub {
    font-size: 16px;
    line-height: 1.62;
}

/* menu */
#menu {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 38px;
    padding: 0 10px;
}

h2 img {
    width: 152px;
    margin-bottom: 39px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    width: 30%;
    display: inline;
}

.col div {
    position: relative;
}

.col img {
    display: block;
    width: 300px;
    border-top-right-radius: 42px;
    margin-bottom: 44px;
}

.col h3 {
    color: #d30202;
    font-size: 38px;
    position: absolute;
    top: 94%;
    left: 3%;
}

.text {
    font-size: 17px;
    line-height: 1.47;
}

/* gallery */
#gallery {
    margin-bottom: 59px;
}

#gallery img {
    width: 20%;
    margin-bottom: 17px;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery img {
    width: 20%;
}

/* event */
#event {
    text-align: center;
    padding: 0 10px;
}

#event h2 img {
    width: 174px;
}

.event_box {
    background-color: #ffffff;
    border: 2px solid #4f260b;
    text-align: center;
    font-size: 23px;
    padding: 37px 0;
    margin: 0 auto 78px auto;
    max-width: 1000px;
}

.event_item {
    line-height: 1.95;
}

.event_list {
    display: inline-block;
    text-align: left;
}

.event_text {
    margin-left: 55px;
    text-decoration: underline;
}

/* access */
#access img {
    width: 214px;
    margin-bottom: 38px;
}

.access_map iframe {
    display: block;
    width: 100%;
    height: 470px;
}

/* footer */
footer {
    background-color: #ffffff;
    padding-bottom: 73px;
    padding-left: 10px;
}

.footer_container {
    display: flex;
    justify-content: flex-start;
    padding: 83px 0 74px 0;
    max-width: 1000px;
    margin: 0 auto;
}

.footer_logo {
    width: 227px;
    padding-right: 40px;
}

.store_info p {
    color: #000000;
    font-size: 20px;
    padding-bottom: 20px;
}

.pagetop_button {
    width: 125px;
    position: fixed;
    right: 40px;
    bottom: 120px;
}

.copy {
    color: #000000;
    text-align: center;
    font-size: 16px;
}


/* 
感想
今回の課題をいただいた際は、
今の自分のレベルで完成させることが出来るのかとかなり不安でしたが、
平垣内先生の分かりやすく丁寧な添削のおかげで
何とかここまで作れて達成感があり、形に出来たことが嬉しく
ここ数日前からコーディング楽しいかも！と思えるようになりました！

次はレスポンシブの作業もありますし
まだまだ上手くいかない事ばかりですが、、、
「楽しいかも！」と思えるようになった事だけでも成長だと捉えて
頑張っていきたいと思います！

ありがとうございます！
次回講義もよろしくお願いいたします！*/












@media screen and (max-width: 765px) {}