@charset "utf-8";

body {
    background-color: #e8d9bf;
}

body.no-scroll {
    overflow: hidden;
}

h2 {
    text-align: center;
}

a:hover {
    opacity: 0.5;
    transition: 0.3s;
}

/* header */
.header_slider img {
    width: 100%;
}

header {
    position: relative;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7% 0 3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.header_logo {
    width: 227px;
}

.pc_nav ul {
    display: flex;
    gap: 54px;
}

.pc_nav li {
    width: 105px;
    text-align: center;
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

/* スマホ版メニュー */
.sp_nav,
.sp_btn {
    display: none;
}

/* header下のキャッチコピー */
.top_text {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    padding: 104px 10px 93px;
}

.en_text {
    font-size: 30px;
    margin-bottom: 46px;
}

.main_text {
    font-size: 82px;
    line-height: 1.17;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

.sub_text {
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1em;
}

.sp_br {
    display: none;
}

/* about */
#about {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 95px;
    padding-right: 10px;
}

.about_img {
    width: 50%;
    border-bottom-right-radius: 82px;
    overflow: hidden;
    order: 1;
}

.about_text {
    width: 41%;
    order: 2;
}

.about_heading {
    text-align: left;
}

.about_heading img {
    width: 273px;
    margin-bottom: 49px;
}

.text_main {
    font-size: 44px;
    line-height: 1.38;
    margin-bottom: 23px;
}

.text_sub {
    font-size: 16px;
    line-height: 1.62;
}

/* menu */
#menu {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 38px;
    padding: 0 10px;
}

h2 img {
    width: 152px;
    margin-bottom: 39px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    width: 30%;
    display: inline;
}

.col div {
    position: relative;
}

.col img {
    display: block;
    width: 300px;
    border-top-right-radius: 42px;
    margin-bottom: 44px;
}

.col h3 {
    color: #d30202;
    font-size: 38px;
    position: absolute;
    top: 94%;
    left: 3%;
}

.text {
    font-size: 17px;
    line-height: 1.47;
}

/* gallery */
#gallery {
    margin-bottom: 59px;
}

#gallery h2 img {
    width: 245px;
    margin-bottom: 17px;
}

.gallery_slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.gallery_slider img {
    width: 20%;
}

/* event */
#event {
    text-align: center;
    padding: 0 10px;
}

#event h2 img {
    width: 174px;
}

.event_box {
    background-color: #ffffff;
    border: 2px solid #4f260b;
    text-align: center;
    font-size: 23px;
    padding: 37px 0;
    margin: 0 auto 78px auto;
    max-width: 1000px;
}

.event_item {
    line-height: 1.95;
}

.event_list {
    display: inline-block;
    text-align: left;
}

.event_text {
    margin-left: 55px;
    text-decoration: underline;
}

/* access */
#access img {
    width: 214px;
    margin-bottom: 38px;
}

.access_map iframe {
    display: block;
    width: 100%;
    height: 470px;
}

/* footer */
footer {
    background-color: #ffffff;
    padding-bottom: 73px;
    padding-left: 10px;
}

.footer_container {
    display: flex;
    justify-content: flex-start;
    padding: 83px 0 74px 0;
    max-width: 1000px;
    margin: 0 auto;
}

.footer_logo {
    width: 227px;
    padding-right: 40px;
}

.store_info p {
    color: #000000;
    font-size: 20px;
    padding-bottom: 20px;
}

.pagetop_button {
    width: 125px;
    position: fixed;
    right: 40px;
    bottom: 120px;
}

.copy {
    color: #000000;
    text-align: center;
    font-size: 16px;
}

/* メニューとロゴがぶつかる直前のタイミング */
@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }

    /* ハンバーガーボタン */
    .sp_btn {
        display: block;
        height: 23px;
        cursor: pointer;
        /* 位置の調整 */
        position: absolute;
        top: 23px;
        right: 25px;
        /* 重なり具合 */
        z-index: 2;
    }

    .sp_btn span {
        display: block;
        width: 33px;
        height: 3px;
        background: #fff;
        border-radius: 2px;
        /* 位置の調整 */
        position: relative;
        top: 10px;
        transition: 0.3s;
    }

    .sp_btn span::before,
    .sp_btn span::after {
        content: '';
        display: block;
        width: 33px;
        height: 3px;
        background: #fff;
        border-radius: 2px;
        /* 位置の調整 */
        position: absolute;
        transition: 0.3s;
    }

    .sp_btn span::before {
        bottom: 10px;
    }

    .sp_btn span::after {
        top: 10px;
    }

    /* ばつ印 */
    .sp_btn.open span {
        background-color: transparent;
    }

    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    .sp_btn.open span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    /* メニューの見た目 */
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        /* 重なり具合 */
        z-index: 1;
    }

    /* 上下左右中央に配置 */
    .sp_nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 40px;
    }

    .sp_nav ul li {
        color: #fff;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
            "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
        font-size: 18px;
        font-weight: bold;
    }

    .main_text {
        font-size: 68px;
    }

    .sub_text {
        font-size: 19px;
    }

    .text_main {
        font-size: 38px;
    }
}

@media screen and (max-width: 767px) {
    .top_text {
        padding: 40px 10px 56px;
    }

    .en_text {
        font-size: 17px;
        margin-bottom: 23px;
    }

    .main_text {
        font-size: 38px;
        line-height: 1.15;
        letter-spacing: 0.02em;
    }

    .sub_text {
        font-size: 16px;
        line-height: 1.87;
    }

    .sp_br {
        display: block;
    }

    /* about */
    #about {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        padding: 0;
    }

    .about_img {
        width: 100%;
        border-bottom-right-radius: 0;
        order: 2;
        margin-bottom: 34px;
    }

    .about_text {
        width: 100%;
        display: contents;
    }

    .text_main {
        width: 100%;
        font-size: 36px;
        line-height: 1.25;
        margin-bottom: 19px;
        padding: 0 10px;
        order: 3;
        box-sizing: border-box;
    }

    .text_sub {
        line-height: 1.75;
        padding: 0 10px;
        order: 4;
    }

    .about_heading {
        text-align: center;
        order: 1;
    }

    .about_heading img {
        width: 160px;
        margin-bottom: 12px;
    }

    /* menu */
    #menu {
        padding: 0 37px;
    }

    h2 img {
        width: 88px;
        margin-bottom: 17px;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .col {
        width: 100%;
    }

    .col h3 {
        font-size: 40px;
    }

    .col img {
        width: 100%;
    }

    .text {
        line-height: 1.58;
        margin-bottom: 60px;
    }

    /* gallery */
    #gallery {
        margin-bottom: 27px;
    }

    #gallery h2 img {
        width: 142px;
        margin-bottom: 15px;
    }

    /* event */
    #event h2 img {
        width: 101px;
    }

    .event_box {
        font-size: 16px;
        padding: 20px 11px 14px 27px;
        margin: 0 auto 27px auto;
    }

    .event_list {
        display: block;
    }

    .event_item {
        line-height: 1;
    }

    .event_text {
        margin-left: 0;
        padding: 5px 0 15px 0;
        /* ブロック要素にしないと下記指定が効かない */
        display: block;
        /* テキストを折り返さない */
        white-space: nowrap;
        /* はみ出た部分を非表示にする */
        overflow: hidden;
        /* 非表示部分を...に置き換える */
        text-overflow: ellipsis;
    }

    /* access */
    #access img {
        width: 124px;
        margin-bottom: 5px;
    }

    .access_map iframe {
        height: 191px;
    }


    /* footer */
    footer {
        padding-right: 10px;
    }

    .footer_container {
        flex-direction: column;
        padding: 41px 0;
    }

    .footer_logo {
        margin-bottom: 28px;
    }

    .store_info p {
        font-size: 18px;
    }

    .pagetop_button {
        width: 100px;
        position: fixed;
        right: 20px;
        bottom: 40px;
    }
}

/* スライダー */
.slick-dots {
    bottom: 20px
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color: #fff;
    font-size: 12px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-prev {
    left: 360px;
    z-index: 999;
}

.slick-next {
    right: 360px;
}

.slick-prev:before,
.slick-next:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
}

.slick-prev:before {
    transform: rotate(-135deg);
    position: absolute;
    left: 20%;
    bottom: -50%;
}

.slick-next:before {
    transform: rotate(45deg);
    position: absolute;
    right: 20%;
    bottom: -50%;
}

@media screen and (max-width: 767px) {
    .slick-prev:before {
        left: -1150%;
    }

    .slick-next:before {
        right: -1550%;
    }
}

/* モーダル */
.slide_img {
    width: 100%;
    cursor: pointer;
}


/* 
【positionについて】
①ギャラリーの箇所の矢印を固定する際、
.gallery_sliderを基準にするためposition: relative;
.slick-prev:before,
.slick-next:before を
position: absolute;　で位置指定したのですが、あっていますか？

positionの指定方法がまだ完璧に理解できていないので再度教えていただきたいです。
（position: fixed;も合わせて教えていただきたいです）

②％での指定方法もわからなかったので
計算方法・指定方法・考え方を再度教えていただきたいです。

【gallery】
画像を10枚にしてスライドにしたんですが、
レスポンシブの際、画像が荒くなっている気がします。
特にpc_gallary_05-100.jpgが気になって
この画像だけですが、２倍書き出しを試してみました。
レスポンシブの際のみ２倍書き出しの画像(sp_gallary_05@2x-80.jpg)に変更するために
pictureタグを使ってやってみたのですが、画像サイズ自体おかしくなってしまいました。。。

なぜ反映されないのかわからなくなってしまったので教えていただきたいです。

【モーダル】
モーダルも挑戦してみましたが、、、
何が何だかグチャグチャになってしまいました...泣
もっとやりやすい記述があれば教えていただきたいです。。。

添削よろしくお願いいたします。
 */