@charset "utf-8";

body {
    background-color: #eeeeee;
}

.service {
    padding: 60px 0;
}

h2 {
    text-align: center;
    margin-bottom: 60px;
    color: #327355;
}

.container {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

.container .row {
    display: flex;
    justify-content: space-between;
}

.container .col {
    width: 30%;
    background-color: #ffffff;
}

.container h3 {
    padding: 3px 20px;
    font-size: 18px;
    font-weight: 700;
    color: #327355;
    border-left: 8px solid #327355;
    padding-left: 7px;
    margin: 5px 12px;
}

.container .text {
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.5;
}


@media screen and (max-width: 400px) {
    .container .row {
        flex-direction: column;
        gap: 20px;
    }

    .container .col {
        width: 100%;
    }
}


/* 添削よろしくお願いいたします!*/